body {
  background-color: rgb(238,238,238);
}
.form-control {
  width: auto;
}
.alert-success {
  position: absolute;
  display: block;
  background-color: #3c763d;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 20px;
  color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 1;
  opacity: 0.85;
}
.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}
.panel-title {
  color: #f0ad4e;
}
.modal-title {
  color: #3c763d;
}
.loader {
    z-index: 9999;
    text-align: center;
    align-content: center;
    padding-bottom: 10px;
    display: none;
}
.navbar-default .navbar-nav>li>a {
  color: #3c763d;
  /*color: #555;*/
  /*color: #777;*/
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #f0ad4e;
  background-color: #e7e7e7;
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover {
  /*color: #f0ad4e;*/
  color: #777;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #f0ad4e;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    /*color: #555;*/
    color: #3c763d;
}